<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>

  <body>
    <div class="central-span">
      <h1 class="title">SENTIANALYS</h1>


      <!-- Input Form -->
      <form action="/" method="POST" class="input-form">
        <div class="input-title">
          Hi,<br /><span>Enter Feedback to predict sentiment</span>
        </div>
        <input
          type="text"
          id="text_input"
          name="text_input"
          placeholder="Enter text"
          class="input"
        />
        <button type="submit" class="button-submit">Submit</button>
      </form>


      <!-- Predicted Sentiment Result -->
      {% if result %}
      <div class="result" id="result">
        <h2>Input Text</h2>
        <p>{{ result.text_input }}</p>
        <h2>Predicted Sentiment:</h2>
        <p class="prediction-{{result.predicted_sentiment}}">
          {{ result.predicted_sentiment }}
        </p>
      </div>
      {% endif %}
    </div>

    <footer class="footer">
      <h2>
        Made with 🤍 by <a href="https://github.com/Anish2602">Anish Kumar</a>
      </h2>
    </footer>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
      // Handle sample text prompts
      function submitSampleText(sentiment) {
        const textInput = document.getElementById("text_input");
        textInput.value = sentiment;
        document.querySelector("form.input-form").submit();
      }

      function addHoveredClass(element) {
        element.classList.add("hovered");
      }
      function removeHoveredClass(element) {
        element.classList.remove("hovered");
      }

      // Automatically add hover effect to sentimentinator span in description after 2 seconds
      const sentimentinators = document.querySelectorAll(".sentimentinators");
      setInterval(() => {
        // Remove the hover effect from the current element
        removeHoveredClass(sentimentinators[0]);

        // Apply the hover effect to the new current element
        addHoveredClass(sentimentinators[0]);
      }, 2000);

      // Automatically scroll to result after form submission
      const result = document.getElementById("result");
      if (result) {
        result.scrollIntoView();
      }
    </script>
  </body>
</html>
